<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="UTF-8">
    <meta name="VIEWPORT" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> PhishGRiD | Cope against Phishing </title>
    <meta name="description" content="phishing"/>
    <!-- INTER UI FONT -->
    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">
    <!--VENDORS STYLES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="static/favicon.png">

    <!-- BOOTSTRAP CSS / COLOR SCHEME -->
    <link rel="stylesheet" href="static/green.css" id="theme-color">

    <!-- CSS BARS -->
    <style>
    #phish_line {
        border-top: 6px solid rgb(187, 18, 18);
        border-radius: 6px;
    }

    #legit_line {
        border-top: 5px solid rgb(13, 141, 13);
        border-radius: 6px;
    }

    #warning {
        border-top: 5px solid rgb(202, 199, 17);
        border-radius: 6px;
    }

    #line {
        border-style: dashed;
    }
    td.feature {
  padding-right: 20px;
}

td.detection-status {
  padding-left: 20px;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
table td:first-child {
  padding-right: 20px;
}
table {
    border-collapse: collapse; 
    border: 1px solid rgb(247, 247, 247); 
    margin: 0 auto; 

  }
  th, td {
    border: 1px solid rgb(236, 229, 229); 
    padding: 5px;
  }

  .loader {
        margin-top: 10px;
        width: 30px;
        height: 30px;
        border: 3px solid #f3f3f3;
        border-radius: 50%;
        border-top: 3px solid #3498db;
        animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

</style>

<script>
    function validateForm() {
        const urlInput = document.getElementById("url-input");
        const url = urlInput.value.trim();

        if (!validateURL(url)) {
            alert("Please enter a valid URL in http or https format");
            return false;
        }
        return true;
    }
    function validateURL(url) {
        const urlPattern = /^(https?:\/\/|http?:\/\/)/;
        return urlPattern.test(url);
    }
    function scrollToGenReport() {
        const genReportSection = document.getElementById("gen_report");
        genReportSection.scrollIntoView({ behavior: "smooth" });
    }

    {% if label %}
        window.onload = scrollToGenReport;
    {% endif %}

    function showLoader() {
        const urlInput = document.getElementById("url-input");
        const url = urlInput.value.trim();
        
        if (validateURL(url)) {
            const loader = document.getElementById("loader");
            loader.style.display = "block";
        } else {
            return false;
        }
    }

    // Check if the label exists to determine if the search is completed
    const labelValue = "{{ label }}"; // Assuming `label` is a variable passed from the server-side
    if (labelValue) {
        hideLoader();
    }
    function hideLoader() {
        const loader = document.getElementById("loader");
        loader.style.display = "none";
    }

</script>


<body>

<!-- NAVIGATION BAR -->
<section class="smart-scroll">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand heading-black" href="index.html"> PhishGrid </a>

            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span data-feather="grid"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#home"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#about"> About </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#features">URL Features </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#media"> Media </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#report"> Report </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#awareness"> Awareness </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#connect"> Connect </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<!-- HOME / HEADER PAGE -->
<!-- DETECTION -->
<section class="py-7 py-md-0 bg-hero" id="home" style="background-image: url('static/bg01.gif');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center" >
                <h2 class="heading-black"> </h2>
            </div>
        </div>
   <!-- <section class="py-7 py-md-0 bg-hero"> -->
    <div class="container" >
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h3 class="heading-black text-capitalize"> </h3>
                <img src="static/hacker.png" height="140px" > <br> 
        <form class="form" action="/predict" method="POST" onsubmit="return validateForm();">
                <input type="text" name="url" class="form-control" id="url-input"placeholder="Insert URL link in http or https format" required> <br>
                <div class="text-center">
                <input type="submit" value="detect" class="btn btn-danger" onclick="showLoader();">
                </div>
                <br>
                <div id="loader" class="text-center" style="display: none;">
                    <img src="static/loader2.gif" height="210px" alt="Loader">
                    <h4 style="font-size:larger;">&nbsp;&nbsp;  DETECTING </h4>
                </div>
            </div>
        </form>
        </div> 
    </div>  
    </div>
    </section>
<!-- RESULTS -->
{% if label %} 
<section class="py-7 bg-dark section-angle top-right bottom-right" id="gen_report">        
    <div class="col-md-8 col-12  mx-auto pt-5 text-center">
                    {% if label == -1 %}
                        <img src="static/warn.png" height="150px">
                    {% else %}
                        <img src="static/correct.png" height="150px">
{% endif %}
            </div>
            <br>
            
                    <div class="col-md-8 col-12 mx-auto pt-5 text-center">
                    <table>
                        <thead>
                            <tr>
                                <th> URL </th>
                                <th> {{url}} </th>
                            </tr>
                            <tr>
                                <th> Status </th>
                                <th>
                                    {% if label == -1 %}
                                      <span style="color: rgb(241, 23, 23);"> PHISHING </span>
                                    {% else %}
                                      <span style="color: rgb(47, 199, 47);"> LEGITIMATE </span>
                                    {% endif %}
                                  </th>
                               <tr> 
                                <th>Safety Index</th>
                                <th> 
                                        {% if label == -1 %}
                                        {{ph}} %
                                        <span style="color: rgb(241, 23, 23);">  &nbsp;  RISK  </span>
                                        {% else %}
                                            {{lg}} %
                                        <span style="color: rgb(47, 199, 47);"> &nbsp;  SAFE  </span>
 
                                    {% endif %}
                                </th>
                            </tr>
                            <tr>
                                <th> &nbsp; Feteched Features &nbsp; </th>
                                <th>  &nbsp; {{x}} &nbsp;  </th>
                            </tr>
                            </tr>
                          <tr>
                        </table>
                        
                        <table>
                            <th> &nbsp; Detected Features &nbsp; </th>
                            <th> Description </th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for feature, detection_status in features_detected.items() %}
                          <tr>
                            <td style="text-align: center;">&nbsp;{{ feature }}&nbsp;</td>
                            {% if detection_status == "Found" %}
                            <td style="color: rgb(241, 23, 23); text-align: left;"> &nbsp;{{ detection_status }} &nbsp;</td>
                            {% elif detection_status == "Not Found" %}
                            <td style="color: rgb(47, 199, 47); text-align: left;">&nbsp;{{ detection_status }}&nbsp;</td>
                            {% else %}
                            <td style="text-align: left;">&nbsp;{{ detection_status }}&nbsp;</td>
                            {% endif %}   
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                     <br> 
                      <hr id="line">
                      <b style="color: rgb(243, 239, 8); font-size: medium;"> CAUTION </b><br>
                      The purpose of this model is to determine the likelihood that a website is a phishing site. The model's predictions, however, aren't always exact, and it's possible that a website could be mistakenly labelled as a phishing site or vice versa. As a result, we advise users to always use caution and confirm a website's legitimacy before inputting any personal or delicate information. Any loss or damage incurred as a result of using our model is not our responsibility. </p>
                    <hr id="line">
                    {% if label == -1 %}
                    <button class="btn btn-danger" id="button2" role="button" onclick="window.open('{{url}}')" target="_blank" >Still Continue ?</button> &nbsp; &nbsp;
                    <button class="btn btn-danger" id="button1" onclick="window.open('https://safebrowsing.google.com/safebrowsing/report_phish/?hl=en', '_blank')" role="button">Report</button>
                    {% else %}
                        <button class="btn btn-primary" id="button2" role="button" onclick="window.open('{{url}}')" target="_blank" >Continue</button> &nbsp; &nbsp;
                    {% endif %}
                    <hr id="line">
                    <a class="btn" href="index.html" class="btn">[ CLEAR ] </a>

{% endif %}

                    </div>
                    <br><br><br>
            </div>
        </div>
    </div>
    </div>
</div>
</section>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- ABOUT -->
<section class="py-7" id="about" >
    <div class="container">
        <div class="row">
       </div>
        <div class="col-md-6 mx-auto text-center">
            <h2 class="text-white heading-black">About Phishing </h2>                
        </div> 
        <p> Phishing is a type of cyber attack that involves the use of fraudulent or deceptive emails, websites, or messages to trick individuals into revealing sensitive information, such as login credentials, credit card numbers, or personal data. Phishing attacks typically involve the use of social engineering techniques, such as creating fake login pages or impersonating legitimate organizations, to trick victims into providing their information. These attacks can also involve the use of malicious software, such as keyloggers or ransomware, that can steal information or cause damage to the victim's device. <br><br> Phishing attacks are a serious threat to individuals and organizations alike, as they can result in financial loss, identity theft, and other forms of harm. It is important to remain vigilant and to take steps to protect your personal and sensitive information, such as avoiding clicking on suspicious links or entering personal information into untrusted websites. </p>

        <div class="col-md-6 mx-auto text-center">
            <h2 class="text-white heading-black"> </h2>                
        </div>   
        <img src="static/diagram-phishing-attack-removebg.png" height="400px" style="margin: 0 auto; display: block;"><br>
        <p>Phishing attacks are typically carried out through a multi-step process, which involves the following steps:
            <ul>
            <li><b>Research:</b> Attackers will research their target and gather as much information as possible, such as email addresses, job titles, or social media profiles.</li>
            
            <li><b>Crafting the message:</b> The attacker will create a message that looks like it's from a legitimate source, such as a bank or a well-known company. The message will typically contain a request for the recipient to take some action, such as clicking on a link or entering sensitive information.</li>
            
            <li><b>Distribution:</b> The attacker will distribute the message to a large number of people via email, social media, or other messaging platforms.</li>
            
            <li><b> Execution: </b>If the recipient clicks on the link or enters sensitive information, they will be redirected to a fake website that looks like the real one. The fake website may prompt the victim to enter their login credentials, credit card information, or other sensitive details.</li>
            
            <li><b> Harvesting:</b> The attacker will harvest the information entered by the victim and use it for malicious purposes, such as identity theft or financial fraud. </li>
        </ul>
        </p>

</div>
</section>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------>
<!-- FEATURES -->
<section class="py-7 bg-dark section-angle top-right bottom-right" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>Phishing URL Features</h2>
                <p style="text-align: center;"> This section describes the characteristics that a phishing URL possesses. 
                </p>
                <div style="display: flex; justify-content: center; align-items: center;">
                    <img src="static/url_struct.png" height="210" style=" margin: 0 auto;">
                </div>
                
            
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h6> 1. Address Bar Based Features</h6>
                        <ol>
                            <li> IP Address </li>
                            <li> Long URL </li>
                            <li> URL Shortening Services / TinyURL</li>
                            <li> Having '@' Symbol</li>
                            <li> Redirection using '//' </li>
                            <li> Sub Domains </li>
                            <li> HTTPS with Secure Socket Layer</li>
                            <li> Favicon </li>
                            <li> Non Standard Port </li>
                            <li> Existance of HTTPS in Domain </li>
                        </ol>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>2. Abnormal based Features</h6>
                        <ol>
                            <li> Request URL </li>
                            <li> URL of Anchor </li>
                            <li> Links in Meta, Script and Link tags </li>
                            <li> Server Form Handler </li>
                            <li> Submitting information to Email</li>
                            <li> Abnormal URL</li>
                        </ol>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6> 3. HTML and JavaScript based Features</h6>
                        <ol>
                            <li> Website Forwarding </li>
                            <li> Status Bar Customization </li>
                            <li> Disabling Right Click </li>
                            <li> Using Pop-Up Window</li>
                            <li> iFrame Redirection </li>
                        </ol>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6> 4. Domain based Features </h6>
                        <ol>
                            <li> Age of Domain</li>
                            <li> DNS Record </li>
                            <li> Website Traffic </li>
                            <li> Page Rank </li>
                            <li> Google Index </li>
                            <li> Number of Links pointing to Page</li>
                            <li> Statistical Report </li>
                        </ol>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row mt-4">
            <div class="col-md-6 mx-auto text-center">
                <h5 class="mb-4"> </h5>
                <a href="C:\Users\Fahad\Documents\VSCode\Jupyter_Notebook\Phishing URL Detection (FYP)\static\features_detail.pdf" class="btn btn-danger" target="_blank"> LEARN MORE </a>
            </div>
        </div>
    </div>
</section>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------>
<!-- MEDIA -->
<section class="py-7" id="media">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="heading-black">Media</h2>
            </div>
            <p style="text-align: center;"> Real-time information and reports on recent phishing incidents, helping you stay informed about the evolving tactics and trends employed by cybercriminals. Get valuable information about tactics and trends used by cybercriminals, be informed, stay vigilant and protect yourself from phishing scams
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <a href="https://www.hackread.com/scam-domains-fifa-world-cup-fans-qatar/" target="_blank">
                        <img class="card-img-top img-raised" src="static/fifalog.jpg">
                    </a>
                    <div class="card-body">
                        <a href="https://www.hackread.com/scam-domains-fifa-world-cup-fans-qatar/" class="card-title mb-2" target="_blank"><h5>16,000+ Scam Domains Aimed at FIFA World Cup Fans in Qatar 
                        </h5></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="https://www.zawya.com/en/press-release/companies-news/phishing-and-scams-hit-the-roof-in-saudi-arabia-with-168-increase-in-number-of-detections-in-q2-2022-f4gnk6wt" target="_blank">
                        <img class="card-img-top img-raised" src="static/riyadh2.png" alt="Blog 2">
                    </a>
                    <div class="card-body">
                        <a href="https://www.zawya.com/en/press-release/companies-news/phishing-and-scams-hit-the-roof-in-saudi-arabia-with-168-increase-in-number-of-detections-in-q2-2022-f4gnk6wt" class="card-title mb-2" target="_blank"><h5>Phishing hit KSA with 168% increase in attack in Q2 2022 </h5></a>
                      
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="https://profit.pakistantoday.com.pk/2023/03/08/uk-cyber-security-firm-warns-over-chatgpt/" target="_blank">
                        <img class="card-img-top img-raised" src="static/gpt.png" alt="Blog 3">
                    </a>
                    <div class="card-body">
                        <a href="https://profit.pakistantoday.com.pk/2023/03/08/uk-cyber-security-firm-warns-over-chatgpt/" class="card-title mb-2" target="_blank"><h5> ChatGPT may have increased the phishing scams!</h5></a>
                    </div>
                </div>
            </div>
            

        <div class="row mt-5">

            <div class="col-md-4">
                <div class="card">
                    <a href="https://news.abplive.com/sports/cricket/icc-loses-around-rs-20-crore-in-phishing-scam-wire-transfer-reported-law-enforcement-usa-investigation-underway-1577008" target="_blank">
                        <img class="card-img-top img-raised" src="static/icc.png">
                    </a>
                    <div class="card-body">
                        <a href="https://news.abplive.com/sports/cricket/icc-loses-around-rs-20-crore-in-phishing-scam-wire-transfer-reported-law-enforcement-usa-investigation-underway-1577008" class="card-title mb-2" target="_blank"><h5>ICC Loses Millions: World Cricket Governing Body Gets Robbed In Major Phishing Scam
                        </h5></a>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="https://www.computerweekly.com/news/252524477/Local-authorities-experience-10000-attempted-cyber-attacks-every-day" target="_blank">
                        <img class="card-img-top img-raised" src="static/uk.png" alt="Blog 3">
                    </a>
                    <div class="card-body">
                        <a href="https://www.computerweekly.com/news/252524477/Local-authorities-experience-10000-attempted-cyber-attacks-every-day" class="card-title mb-2" target="_blank"><h5>Local authorities experience 10,000 attempted cyber attacks every day
                        </h5></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="https://blog.checkpoint.com/2023/01/23/brand-phishing-report-q4-2022/" target="_blank">
                        <img class="card-img-top img-raised" src="static/yahoo_logo.jpg" alt="Blog 3">
                    </a>
                    <div class="card-body">
                        <a href="https://blog.checkpoint.com/2023/01/23/brand-phishing-report-q4-2022/" class="card-title mb-2" target="_blank"><h5>Yahoo became the top brand impersonated in phishing attacks in Q4 2022
                        </h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------>
<!--AWARENESS-->
<section class="py-7 bg-dark section-angle top-right bottom-right" id="report">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="heading-black">Report Phishing</h2>
                <p style="text-align: center;"> If you think you've fallen victim to a phishing attack, you should immediately contact law enforcement agencies.
                </p>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <a href="https://safebrowsing.google.com/safebrowsing/report_phish/?hl=en" target="_blank">
                        <img class="card-img-top img-raised" src="static/google_ph.jpg">
                    </a>
                    <div class="card-body">
                        <a href="https://safebrowsing.google.com/safebrowsing/report_phish/?hl=en" class="card-title mb-2" target="_blank">
                            <h5 style="text-align: center;">Google Safe Browsing </h5></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="https://complaint.fia.gov.pk/" target="_blank">
                        <img class="card-img-top img-raised" src="static/fia.png">
                    </a>
                    <div class="card-body">
                        <a href="https://complaint.fia.gov.pk/" class="card-title mb-2" target="_blank">
                            <h5 style="text-align: center;">National Response Centre for Cyber Crime (NR3C) </h5></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="https://apwg.org/reportphishing/" target="_blank">
                        <img class="card-img-top img-raised" src="static/apwg.png">
                    </a>
                    <div class="card-body">
                        <a href="https://apwg.org/reportphishing/" class="card-title mb-2" target="_blank"><h5 style="text-align: center;"> Anti-Phishing Working Group (APWG) </h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- Cyber Awareness -->
<section class="py-7" id="awareness">
    <div class="container">
        <div class="col-md-6 mx-auto text-center">
            <h2 class="text-white heading-black">Cyber Awareness</h2>              
        </div> 
        <br>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center">
                        <h4>Frequently Asked Questions</h4>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-10 mx-auto">
                        <div class="row">
                            <div class="col-md-6 mb-5">
                                <h6>What is Phishing?</h6>
                                <p class="text-muted">Phishing is a type of online scam where cybercriminals use social engineering techniques to trick individuals into sharing sensitive information, such as usernames, passwords, credit card details, or personal information, by posing as a trustworthy entity.</p>
                            </div>
                            <div class="col-md-6 mb-5">
                                <h6>How do phishing attacks happen?</h6>
                                <p class="text-muted">Phishing attacks can happen in various ways, including via email, phone calls, text messages, social media, or instant messaging platforms. The attacker typically creates a fake or spoofed website or message that appears to be from a legitimate source and convinces the victim to provide sensitive information.</p>
                            </div>
                            <div class="col-md-6 mb-5">
                                <h6>How can I protect myself from phishing attacks?</h6>
                                <p class="text-muted">There are several steps you can take to protect yourself from phishing attacks, including being cautious of suspicious emails, avoiding clicking on links from unknown sources, verifying the authenticity of websites, and using two-factor authentication..</p>
                            </div>
                            <div class="col-md-6 mb-5">
                                <h6>What are some common signs of a phishing attack?</h6>
                                <p class="text-muted">Common signs of a phishing attack include messages that create a sense of urgency or fear, emails that contain spelling or grammatical errors, messages that ask for personal or sensitive information, and emails from unknown sources.</p>
                            </div>
                            <div class="col-md-6 mb-5">
                                <h6>What should I do if I think I've fallen victim to a phishing attack?</h6>
                                <p class="text-muted">If you think you've fallen victim to a phishing attack, you should immediately change your passwords, monitor your bank accounts and credit reports, and report the incident to the appropriate authorities, such as your bank or credit card company, and law enforcement. In such situation contact
                                    <ul>
                                    <li> <a href="https://complaint.fia.gov.pk/"> National Response Center for Cyber Crime (NR3C) </a> </li>
                                    <li> <a href="https://apwg.org/reportphishing/"> Anti-Phishing Working Group (APWG) </a> </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="col-md-6 mb-5">
                                <h6>How can organizations protect themselves from phishing attacks?</h6>
                                <p class="text-muted">Organizations can protect themselves from phishing attacks by educating their employees about the risks of phishing, implementing security policies and procedures, using anti-phishing software, and conducting regular security audits and tests.</p>
                            </div>
                            <div class="col-md-6 mb-5">
                                <h6>I accidentally clicked on a phishing link. What should I do?                        </h6>
                                <p class="text-muted">If you accidentally clicked on a phishing link, close the window immediately and run an anti-virus or anti-malware scan on your device. Also, monitor your accounts for any suspicious activity or transactions and consider changing your passwords.</p>
                            </div>
                            <div class="col-md-6 mb-5">
                                <h6>Can phishing attacks really cause financial loss or identity theft?</h6>
                                <p class="text-muted">Yes, phishing attacks can cause financial loss or identity theft. For example, a phishing attack could lead to the theft of login credentials or credit card information, which can then be used to make unauthorized purchases or gain access to other sensitive information.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

</div>
</section>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------>
<!--footer-->
<footer class="py-7 bg-dark section-angle top-right bottom-right" id="connect">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 mr-auto">
                <h5>About PhishGRiD</h5>
                <p class="text-muted">PhishGRiD is designed to help users detect and analyze potential phishing URLs. It utilizes a sophisticated algorithm to scan URLs and provides users with a detailed report on whether or not the website is legitimate. PhishGRiD is an easy-to-use solution that helps individuals and organizations protect themselves from cyber threats by providing them with accurate and timely information about potentially harmful websites.
                </p>
                <ul class="list-inline social social-sm">
                    <li class="list-inline-item">
                        <a href=" "><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href=" "><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><i class="fa fa-dribbble"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Refund policy</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Partner</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Refer a friend</a></li>
                    <li><a href="#">Affiliates</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Help</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Log in</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            
            <div class="col-12 text-muted text-center small-xl">
                 PhishGRiD &copy; All Rights Reserved 2022-2023  <br>
                 Final Year Project <br> Muhammad Fahad @ Abdul Wali Khan University, Mardan
            </div>
        </div>
    </div>
</footer>

<!--scroll to top-->
<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="static/scripts.js"></script>
</body>
</html>